[submodule "src/milascript"]
	path = src/milascript
	url = git@github.com:milapulgames/milascript.git
[submodule "build/milascript"]
	path = build/milascript
	url = https://github.com/milapulgames/milascript.git
